<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
            Розділи
            </h1>
        <div class="list-menu">
            <a class="list-menu-item is-active">
                <p>List1</p>
            </a>
            <a class="list-menu-item">
                <p>List5</p> 
            </a>
            <a class="list-menu-item">
                <p>List4</p>
            </a>
            <a class="list-menu-item">
                <p>List3</p>
            </a>
            
        </div>

        <button class="button is-primary has-text-white" (click)="createNewList()">+ Новий Розділ</button>

        </div>

        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
            Завдання
            </h1>

            <div class="task">
                <p>
                    this is something i have to do
                </p>
            </div>
            <div class="task">
                <p>
                    this is something i have to do
                </p>
            </div>
            <div class="task">
                <p>
                    this is something i have to do
                </p>
            </div>
            <div class="task complete">
                <p>
                    this is something i have to do
                </p>
            </div>

        </div>

    </div>
</div>