<section class="section-hero overlay inner-page bg-image" style="background-image: url('assets/images/hero_1.jpg');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">About Us</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>About Us</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<app-stats></app-stats>


<section class="site-section pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <a data-fancybox data-ratio="2" href="https://vimeo.com/317571768" class="block__96788">
          <span class="play-icon"><span class="icon-play"></span></span>
          <img src="assets/images/sq_img_6.jpg" alt="Image" class="img-fluid img-shadow">
        </a>
      </div>
      <div class="col-lg-5 ml-auto">
        <h2 class="section-title mb-3">Pratsya Hunt For Freelancers, Web Developers</h2>
        <p class="lead">
          Pratsya is a groundbreaking platform that revolutionizes how companies discover freelancers and web developers. With its streamlined interface and robust features, Pratsya offers an effortless experience for employers and professionals alike.</p>
        <p>Whether you're a startup or an established company, Pratsya provides access to a diverse talent pool of skilled individuals. From browsing profiles to assessing portfolios and reviews, Pratsya empowers you to make well-informed decisions, ensuring you find the perfect match for your project needs.</p>
      </div>
    </div>
  </div>
</section>

<section class="site-section pt-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0 order-md-2">
        <a data-fancybox data-ratio="2" href="https://vimeo.com/317571768" class="block__96788">
          <span class="play-icon"><span class="icon-play"></span></span>
          <img src="assets/images/sq_img_8.jpg" alt="Image" class="img-fluid img-shadow">
        </a>
      </div>
      <div class="col-lg-5 mr-auto order-md-1  mb-5 mb-lg-0">
        <h2 class="section-title mb-3">Pratsya Hunt For Workers</h2>
        <p class="lead">Pratsya is an innovative platform that transforms the process of hunting for workers. With its user-friendly interface and powerful features, Pratsya offers a seamless experience for both employers and job seekers.</p>
        <p>Whether you're a company in search of reliable workers or an individual looking for job opportunities, Pratsya is the go-to platform. It provides a wide range of skilled workers across various industries, allowing you to find the perfect fit for your project or job requirements. Pratsya simplifies the hiring process, saving you time and effort, while ensuring that you connect with the right individuals to meet your workforce needs.</p>
      </div>
    </div>
  </div>
</section>


<section class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h2 class="section-title mb-3">Our Team</h2>
      </div>
    </div>

    <div class="row align-items-center block__69944">

      <div class="col-md-6">
        <img src="assets/images/dev.jpg" alt="Image" class="img-fluid mb-4 rounded">
      </div>

      <div class="col-md-6">
        <h3>Danylo Savytskyi</h3>
        <p class="text-muted">Developer</p>
        <p>The 20-year-old Business Central junior software engineer is a dynamic and ambitious individual with a passion for software development. Armed with a strong foundation in programming languages and a solid understanding of Microsoft Business Central, this young engineer is eager to contribute their skills and learn from experienced professionals in order to grow and excel in the field of software engineering.</p>
        <div class="social mt-4">
          <a href="https://github.com/savitskiy-danylo"><span class="icon-github"></span></a>
          <a href="https://www.instagram.com/danyasava/"><span class="icon-instagram"></span></a>
          <a href="https://www.linkedin.com/in/savitskiy-danylo/"><span class="icon-linkedin"></span></a>
        </div>
      </div>

      <div class="col-md-6 order-md-2 ml-md-auto">
        <img src="assets/images/Goddess.jpg" alt="Image" class="img-fluid mb-4 rounded">
      </div>

      <div class="col-md-6">
        <h3>Roxy Migurdia</h3>
        <p class="text-muted">The Goddess</p>
        <p>Roxy Migurdia is a captivating character who exudes the essence of a goddess. With her stunning appearance, she possesses long, flowing hair in a mesmerizing shade of blue that seems to radiate ethereal beauty. Her eyes, reminiscent of a clear summer sky, shine with a captivating brilliance and hold an air of mystery and wisdom. Adorned in elegant attire, Roxy's presence is enchanting and commands attention wherever she goes. Her graceful demeanor and captivating smile leave a lasting impression, making her seem like a true goddess among mortals. Roxy Migurdia is a vision of divine beauty that captures the hearts and imaginations of all who encounter her.</p>
      </div>
  </div>
  </div>
</section>